{erl_opts, [debug_info]}.

{deps, [
	{ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git" }},
	{cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {branch, "1.1.x"}}},
	{mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git" }},
        {erlsom, ".*", {git, "https://github.com/willemdj/erlsom.git", {branch, "v1_4"}}}
       ]}.
